.background-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1024px;
    object-fit: cover;
  }
  .about-us,
  .login {
    position: absolute;
    top: 113px;
    left: 835px;
    font-weight: 500;
  }
  .login {
    left: 1033px;
  }
  .dollar {
    margin: 0;
  }
  .dollar-snooker {
    position: absolute;
    top: 85px;
    left: 128px;
    font-size: var(--font-size-21xl);
    font-weight: 800;
  }
  .home,
  .services {
    position: absolute;
    top: 113px;
    left: 639px;
    font-weight: 500;
  }
  .home {
    left: 470px;
  }
  .world-snooker-championship {
    position: absolute;
    top: 227px;
    left: 419px;
    font-size: var(--font-size-21xl);
  }
  .group-child,
  .the-world-snooker-championship-container {
    position: absolute;
    top: 383px;
    left: 554px;
  }
  .group-child {
    top: 348px;
    left: 100px;
    width: 266px;
    height: 412px;
    object-fit: cover;
  }
  .background-1-parent {
    background: url(background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    height: 1024px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-oxanium);
  }
  