body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-oxanium: Oxanium;
    --font-paytone-one: "Paytone One";
  
    /* font sizes */
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-white: #fff;
    --color-gainsboro: #d9d9d9;
  }
  