.background-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1024px;
    object-fit: cover;
  }
  .group-child {
    position: absolute;
    top: 140.5px;
    left: 468.5px;
    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 68px;
    height: 1px;
  }
  .dollar-snooker-championship {
    margin: 0;
  }
  .dollar-snooker-championship-container {
    position: absolute;
    top: 366px;
    left: 147px;
    font-weight: 600;
  }
  .it-have-prize {
    position: absolute;
    top: 549px;
    left: 424px;
    font-size: 32px;
    white-space: pre-wrap;
  }
  .dollar-snooker-championship1 {
    position: absolute;
    top: 262px;
    left: 407px;
    font-size: 36px;
    font-family: var(--font-milonga);
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .background-1-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1024px;
    font-size: var(--font-size-6xl);
  }
  .home-child {
    position: absolute;
    top: 779px;
    left: 585px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    width: 205px;
    height: 40px;
  }
  .register-now,
  .to-partcipate-in {
    position: absolute;
    top: 783px;
    left: 607px;
    font-size: var(--font-size-6xl);
    font-weight: 800;
  }
  .to-partcipate-in {
    top: 739px;
    left: 463px;
    font-weight: 600;
  }
  .home-item {
    position: absolute;
    top: 399.5px;
    left: 401.5px;
    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 600px;
    height: 1px;
  }
  .about-us,
  .dollar-snooker,
  .login {
    position: absolute;
    top: 113px;
    left: 835px;
    font-weight: 500;
  }
  .dollar-snooker,
  .login {
    left: 1033px;
  }
  .dollar-snooker {
    top: 85px;
    left: 128px;
    font-size: 40px;
    font-weight: 800;
  }
  .services {
    top: 113px;
    left: 639px;
    font-weight: 500;
  }
  .home,
  .home1,
  .services {
    position: absolute;
  }
  .home1 {
    top: 113px;
    left: 470px;
    font-weight: 500;
  }
  .home {
    top: 0;
    left: 0;
    width: 1440px;
    height: 1024px;
  }
  .home-parent {
    background: url(background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    height: 1024px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-oxanium);
  }
  