body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-oxanium: Oxanium;
    --font-milonga: Milonga;
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-6xl: 25px;
  
    /* Colors */
    --color-white: #fff;
  }
  